<%- include('./partials/head') %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signo del Zodiaco</title>
  </head>

  <body>
    <h1 style=" font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center; size: 40px;">¿Qué signo del horóscopo
      deberías ser en realidad?</h1>
    <br>

    <h2>Responde las siguientes preguntas por favor</h2>
    <ol>
      <li>
        <h3>¿Qué tipo de actividad prefieres realizar en tu tiempo libre?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Practicar deportes de aventura.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Disfrutar de actividades al aire libre como jardinería o senderismo.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Leer libros o socializar con amigos.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Pasar tiempo en casa, cocinar o cuidar de tus seres queridos.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Participar en actividades creativas o de entretenimiento.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Organizar y planificar actividades detalladas.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu comida favorita?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Comida picante o sabores intensos.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Alimentos reconfortantes y caseros.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Comidas ligeras y variadas.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Comidas tradicionales y familiares.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Platos elaborados y llamativos.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Comidas saludables y equilibradas.
        </label>
      </li>
      <li>
        <h3>¿Cómo sueles resolver problemas?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Actuando rápidamente y tomando la iniciativa.
        <label>
          <input type="radio" name="answer1" value="2"> Tomándote tu tiempo para analizar y buscar soluciones prácticas.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Enfocándote en la comunicación y buscando diferentes perspectivas.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Siguiendo tu intuición y considerando las emociones de todos los involucrados.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Abordando los problemas con confianza y liderazgo.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Analizando detalladamente cada aspecto y buscando la perfección.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu lugar ideal para vacacionar?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Destinos llenos de aventura y acción, como una selva tropical o una ciudad animada.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Lugares tranquilos y serenos, como una playa paradisíaca o una cabaña en la montaña.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Ciudades vibrantes y cosmopolitas, donde haya una mezcla de cultura y diversidad.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Destinos familiares y acogedores, como un lago o una casa de campo.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Lugares glamorosos y lujosos, como un resort de lujo o una ciudad conocida por su vida nocturna.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Destinos históricos y culturales, donde puedas explorar museos y monumentos.
        </label>
      </li>
      <li>
        <h3>¿Cómo describirías tu estilo de comunicación?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Rock o música alternativa.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Música clásica o jazz.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Pop o música electrónica.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Baladas o música romántica.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Música pop o de estilo teatral.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Música instrumental o folk.
        </label>
      </li>
      <li>
        <h3>¿Qué tipo de películas disfrutas más?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Acción o películas de superhéroes.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Películas románticas o dramas.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Comedias o películas inteligentes con diálogos ingeniosos.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Películas emotivas o familiares.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Películas de fantasía o dramas con grandes interpretaciones.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Películas basadas en hechos reales o dramas psicológicos.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu estilo de moda preferido?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Ropa deportiva y casual.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Ropa cómoda y elegante.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Estilos versátiles y a la moda.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Ropa femenina y romántica.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Ropa llamativa y extravagante.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Ropa clásica y pulcra.
        </label>
      </li>
      <li>
        <h3>¿Qué cualidad valoras más en una amistad?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Lealtad y valentía.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Honestidad y confiabilidad.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Comunicación y diversión.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Empatía y apoyo emocional.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Generosidad y admiración.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Organización y confiabilidad.
        </label>
      </li>
      <li>
        <h3>¿Cómo te describirías en una palabra?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Apasionado.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Persistente.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Versátil.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Sensible.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Carismático.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Detallista.
        </label>
      </li>
      <li>
        <h3>¿Qué actividad te da más energía?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Hacer ejercicio físico.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Disfrutar de una buena comida.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Tener conversaciones estimulantes.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Pasar tiempo en casa y cuidar de tu espacio personal.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Actuar o estar en el centro de atención.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Organizar y limpiar tu entorno.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu animal favorito?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> León.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Toro.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Pájaro.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Cangrejo.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Gato.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Mariposa.
        </label>
      </li>
      <li>
        <h3>¿Qué tipo de libro prefieres leer?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Libros de autoayuda o motivación.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Novelas románticas o de ficción histórica.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Libros de misterio o ciencia ficción.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Libros de poesía o novelas sentimentales.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Biografías o libros de autores reconocidos.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Libros de no ficción o de desarrollo personal.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu estación del año favorita?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Primavera.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Verano.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Otoño.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Invierno.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Verano.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Otoño.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu color favorito?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Rojo.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Verde.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Amarillo.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Blanco.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Dorado.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Gris.
        </label>
      </li>
      <li>
        <h3>¿Qué te emociona más del futuro?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Nuevos retos y aventuras.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Estabilidad y seguridad.
        </label>
        <label>
          <input type="radio" name="answer1" value="3"> Conocer gente nueva y aprender cosas diferentes.
        </label>
        <label>
          <input type="radio" name="answer1" value="4"> Ver crecer a tu familia y construir un hogar.
        </label>
        <label>
          <input type="radio" name="answer1" value="5"> Reconocimiento y éxito personal.
        </label>
        <label>
          <input type="radio" name="answer1" value="6"> Mejorar y perfeccionar tus habilidades.
        </label>
      </li>
      
    </ol>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>