<%- include('./partials/head') %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signo del Zodiaco</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
<style>
</style>
  <body>

    <div>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="container">
                <div class="card-body p-md-5 mx-md-4">

                  <h1
                    style=" font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center;">"Viaje a las Estrellas"</h1>

                  <h3  class="mt-5"
                    style=" font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center;">¡Descubre tu Signo Zodiacal!</h3>
                  <h5
                    style="text-align: center; font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center; size: 30px;">
                    (Aries, Tauro, Géminis, Cáncer, Leo, Virgo)</h4>
                    <form id="myForm" action="/submit" method="POST" class="mt-4 needs-validation" novalidate>
                      <div class="row">
                        <div class="col-md">
                          <div class="mb-3">
                            <label for="name" for="validationCustom03" class="form-label">Nombre completo: </label>
                            <input type="text" id="name validationCustom03" name="name" class="form-control"
                              placeholder="Tu nombre" required>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="mb-3">
                            <label for="name" class="form-label">Correo electrónico: </label>
                            <input type="email" id="email" name="email" class="form-control"
                              placeholder="tuCorreo@gamil.com" required>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="mb-3">
                            <label for="name" class="form-label">Fecha de nacimiento: </label>
                            <input type="date" id="date" name="date" class="form-control"
                              placeholder="tuCorreo@gamil.com" required>
                          </div>
                        </div>
                      </div>
                      <ol>
                        <li class="mb-3">
                          <label for="validationCustom04" id="Question 1" class="form-label">¿Con cual característica te identificas?</label>
                          <select id="validationCustom04" name="answer1" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Soy enérgico y entusiasta</option>
                            <option value="2">Soy paciente y confiable.</option>
                            <option value="3">Soy versátil y adaptable</option>
                            <option value="4">Soy emocional y compasivo</option>
                            <option value="5">Soy carismático y un líder natural</option>
                            <option value="6">Soy detallista y perfeccionista</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 2" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer2" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Soy un líder natural, impulsivo y decidido</option>
                            <option value="2">Soy amante de la belleza y las comodidades</option>
                            <option value="3">Soy inteligente y curioso y busco siempre aprender algo nuevo</option>
                            <option value="4">Soy protector y cariñoso con sus seres queridos</option>
                            <option value="5">Soy extrovertido y disfruto ser el centro de atención</option>
                            <option value="6">Tengo una mente analítica y observadora</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 3" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer3" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Me encantan los desafíos y la aventura</option>
                            <option value="2">Tengo una naturaleza perseverante y terrenal</option>
                            <option value="3">Tengo una mente rápida y soy bueno comunicando</option>
                            <option value="4">Tengo una gran intuición y sensibilidad</option>
                            <option value="5">Tengo una gran confianza en mi mismo y soy seguro de mis habilidades</option>
                            <option value="6">Soy práctico y orientado a los detalles</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 4" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer4" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Soy impaciente y a veces puedo ser temperamental</option>
                            <option value="2">Soy afectuoso y leal con mis seres queridos</option>
                            <option value="3">Soy social y extrovertido, me gusta interactuar con los demás</option>
                            <option value="4">Soy leal y poseo un fuerte sentido de pertenencia</option>
                            <option value="5">Me encanta el reconocimiento y los elogios</option>
                            <option value="6">Tengo una gran capacidad de organización</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 5" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer5" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Estoy siempre dispuesto a luchar por lo que quiero</option>
                            <option value="2">Valoro la estabilidad y la seguridad</option>
                            <option value="3">A veces puedo ser superficial</option>
                            <option value="4">Soy reservado y cauteloso con los desconocidos</option>
                            <option value="5">Soy generoso y leal con mis amigos</option>
                            <option value="6">Valoro la eficiencia y el orden</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 6" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer6" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Mi personalidad es audaz y directa</option>
                            <option value="2">Soy terco y reacio al cambio</option>
                            <option value="3">Soy juguetón y divertido, con un gran sentido del humor</option>
                            <option value="4">Tengo una conexión profunda con mi hogar y familia</option>
                            <option value="5">Soy orgulloso y necesito admiración constante</option>
                            <option value="6">Soy tímido y reservado con mi comportamiento</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 7" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer7" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Valoro la honestidad y la sinceridad</option>
                            <option value="2">Disfruto de la buena comida</option>
                            <option value="3">Me encanta la variedad y me aburro fácilmente</option>
                            <option value="4">Soy susceptible a cambios de humor y nostalgia</option>
                            <option value="5">Valoro mi libertad y tengo un fuerte sentido de dignidad</option>
                            <option value="6">Amo ayudar a los demás y soy servicial</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 8" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer8" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">A veces puedo ser egoísta y poco tolerante</option>
                            <option value="2">Soy práctico y realista en sus enfoques</option>
                            <option value="3">Soy inconstante en mis intereses y emociones</option>
                            <option value="4">Me gusta cuidar y ser cuidado por los demás</option>
                            <option value="5">Tengo una naturaleza apasionada y entusiasta</option>
                            <option value="6">Soy crítico conmigo mismo y con los demás</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 9" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer9" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Me gusta tomar la iniciativa y ser pionero en proyectos</option>
                            <option value="2">Poseo una gran capacidad para el trabajo duro</option>
                            <option value="3">Soy hábil para argumentar y defender mis puntos de vista</option>
                            <option value="4">Valoro la seguridad emocional y la estabilidad</option>
                            <option value="5">Soy creativo y me gusta expresarme artísticamente</option>
                            <option value="6">Tengo una gran memoria y habilidades para resolver problemas</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 10" class="form-label">¿Con cual característica te identificas?</label>
                          <select name="answer10" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Tengo una gran fuerza de voluntad y determinación</option>
                            <option value="2">Tiendo a ser posesivo en mis relaciones cercanas</option>
                            <option value="3">Me atrae la contradicción</option>
                            <option value="4">Soy muy imaginativo y creativo</option>
                            <option value="5">Soy dominante y autoritario</option>
                            <option value="6">Soy modesto y prefiero pasar desapercibido</option>
                          </select>
                        </li>
                      </ol>
                      <br>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                          Enviar
                        </button>
                      </div>
                    </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </body>

  </html>
  <script src="/js/index.js"></script>