<%- include('./partials/head') %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signo del Zodiaco</title>
  </head>

  <body>
    <h1 style=" font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center; size: 40px;">¿Qué signo del horóscopo
      deberías ser en realidad?</h1>
    <br>
    <div class="container">
      <form action="/submit" method="POST">
        <div class="row mb-4">
          <div class="form-floating col-sm-6">
            <input type="text" name="name" id="name" class="form-control" placeholder="" required />
            <label class="form-label" for="form3Example3cg">Escribe tu nomre:</label>
          </div>

          <div class="form-floating col-sm-6">
            <input type="date" name="date" id="date" class="form-control " placeholder="" required />
            <label class="form-label" for="form3Example4cg">Escribe tu fecha de nacimiento</label>
          </div>
        </div>


        <h2>Responde las siguientes preguntas por favor</h2>
        <br><br>
        <ol>
          <div class="container">
            <div class="row">
              <div class="col-md">
                <li>
                  <h5 id="Question 1">¿Cómo describirías tu estilo de comunicación?</h5>
                  <label>
                    <input type="radio" name="answer1" value="1" required />Eres directo y enérgico.
                  </label>
                  <label>
                    <input type="radio" name="answer1" value="2" />Tranquilo y reflexivo.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 2">¿Qué tipo de actividades u hobbies te resultan más atractivos?</h5>
                  <label>
                    <input type="radio" name="answer2" value="1" required /> Te gustaron 15 la aventura y la
                    exploración.
                  </label>
                  <label>
                    <input type="radio" name="answer2" value="2" /> Actividades más relajadas.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 3">¿Cómo manejas el estrés y las situaciones difíciles?</h5>
                  <label>
                    <input type="radio" name="answer3" value="1" required> Eres impulsivo y reaccionas rápidamente.
                  </label>
                  <label>
                    <input type="radio" name="answer3" value="2"> Tomás tu tiempo para reflexionar y tomar decisiones.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 4">¿Cuál es tu enfoque en el trabajo o los proyectos?</h5>
                  <label>
                    <input type="radio" name="answer4" value="1" required> Eres organizado y estructurado.
                  </label>
                  <label>
                    <input type="radio" name="answer4" value="2"> Te gusta tener flexibilidad y adaptarte a medida que
                    avanzas.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 5">¿Qué te motiva y te inspira en la vida?</h5>
                  <label>
                    <input type="radio" name="answer5" value="1" required> Buscas constantemente nuevas experiencias.
                  </label>
                  <label>
                    <input type="radio" name="answer5" value="2"> Te sientes más cómodo con la estabilidad y la rutinas.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 6">¿Qué tipo de relaciones personales valoras más?</h5>
                  <label>
                    <input type="radio" name="answer6" value="1" required> Buscas una conexión profunda y emociona.
                  </label>
                  <label>
                    <input type="radio" name="answer6" value="2"> Prefieres relaciones más ligeras y superficiales.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 7">¿Cómo te adaptas a los cambios y a las nuevas situaciones?</h5>
                  <label>
                    <input type="radio" name="answer7" value="1" required> Eres flexible y te ajustas rápidamente.
                  </label>
                  <label>
                    <input type="radio" name="answer7" value="2"> Necesitas más tiempo para adaptarte.
                  </label>
                </li> <br>
              </div>
              <div class="col-md">
                <li>
                  <h5 id="Question 8">¿Cuál es tu enfoque hacia el éxito y el logro de metas?</h5>
                  <label>
                    <input class=pregunta type="radio" name="answer8" value="1" required> Te enfocas en la competencia y
                    en destacarte.
                  </label>
                  <label>
                    <input type="radio" name="answer8" value="2"> Te importa más el trabajo en equipo.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 9">¿Qué papel juega la intuición en tu toma de decisiones?</h5>
                  <label>
                    <input type="radio" name="answer9" value="1" required> Confías en tus corazonadas.
                  </label>
                  <label>
                    <input type="radio" name="answer9" value="2"> Te basas más en la lógica y el razonamiento.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 10">¿Cómo te relacionas con las emociones y los sentimientos?</h5>
                  <label>
                    <input type="radio" name="answer10" value="1" required> Eres expresivo y te conectas profundamente
                    con tus emociones.
                  </label>
                  <label>
                    <input type="radio" name="answer10" value="2"> Tiendes a ser más reservado y racional.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 11">¿En tu trabajo o situaciones cooperativas?</h5>
                  <label>
                    <input type="radio" name="answer11" value="1" required> Prefieres liderar y tomar decisiones.
                  </label>
                  <label>
                    <input type="radio" name="answer11" value="2"> Te sientes más cómodo siguiendo las instrucciones y
                    siendo parte de un equipo.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 12">¿Qué tipo de ambiente te hace sentir más inspirado y productivo?</h5>
                  <label>
                    <input type="radio" name="answer12" value="1" required> La calma y la tranquilidad.
                  </label>
                  <label>
                    <input type="radio" name="answer12" value="2"> La energía y la estimulación constante.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 13">¿Cómo reaccionas ante las situaciones emocionales?</h5>
                  <label>
                    <input type="radio" name="answer13" value="1" required> Eres compasivo y sensible.
                  </label>
                  <label>
                    <input type="radio" name="answer13" value="2"> Tiendes a ser más objetivo y racional.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 14">¿Cuál es tu enfoque hacia la planificación y la organización?</h5>
                  <label>
                    <input type="radio" name="answer14" value="1" required> Prefieres tener una estructura clara.
                  </label>
                  <label>
                    <input type="radio" name="answer14" value="2"> Te gusta improvisar y adaptarte sobre la marcha.
                  </label>
                </li> <br>
                <li>
                  <h5 id="Question 15">¿Cuál es tu enfoque hacia el cambio y la novedad?</h5>
                  <label>
                    <input type="radio" name="answer15" value="1" required> Te emociona y te adaptas fácilmente.
                  </label>
                  <label>
                    <input type="radio" name="answer15" value="2"> Te resulta difícil y prefieres la estabilidad.
                  </label>
                </li> <br>
              </div>
            </div>
          </div>


        </ol>
        <button type="submit" class="btn btn-success btn-rounded">
          Guardar <i class="fas fa-download"></i>
        </button>
        <button type="reset" class="btn btn-primary btn-rounded">
          Limpiar <i class="fas fa-eraser"></i>
        </button>
      </form>

  </body>

  </html>