<%- include('./partials/head') %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signo del Zodiaco</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
<style>
</style>
  <body>

    <div>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="container">
                <div class="card-body p-md-5 mx-md-4">

                  <h1
                    style=" font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center;">"Viaje a las Estrellas"</h1>

                  <h3  class="mt-5"
                    style=" font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center;">¡Descubre tu Signo Zodiacal!</h3>
                  <h5
                    style="text-align: center; font-family: 'Lora', 'Georgia', 'sans-serif'; text-align: center; size: 30px;">
                    (Aries, Tauro, Géminis, Cáncer, Leo, Virgo)</h4>
                    <form id="myForm" action="/submit" method="POST" class="mt-4 needs-validation" novalidate>
                      <div class="row">
                        <div class="col-md">
                          <div class="mb-3">
                            <label for="name" for="validationCustom03" class="form-label">Nombre completo: </label>
                            <input type="text" id="name validationCustom03" name="name" class="form-control"
                              placeholder="Tu nombre" required>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="mb-3">
                            <label for="name" class="form-label">Correo electrónico: </label>
                            <input type="email" id="email" name="email" class="form-control"
                              placeholder="tuCorreo@gamil.com" required>
                          </div>
                        </div>
                      </div>
                      <ol>
                        <li class="mb-3">
                          <label for="validationCustom04" id="Question 1" class="form-label">¿Qué tipo de actividad
                            prefieres realizar en tu tiempo libre?</label>
                          <select id="validationCustom04" name="answer1" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Practicar deportes de aventura.</option>
                            <option value="2">Disfrutar de actividades al aire libre como jardinería o senderismo.
                            </option>
                            <option value="3">Leer libros o socializar con amigos.</option>
                            <option value="4">Pasar tiempo en casa, cocinar o cuidar de tus seres queridos.</option>
                            <option value="5">Participar en actividades creativas o de entretenimiento.</option>
                            <option value="6">Organizar y planificar actividades detalladas.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 2" class="form-label">¿Cuál es tu comida favorita?</label>
                          <select name="answer2" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Comida picante o sabores intensos.</option>
                            <option value="2">Alimentos reconfortantes y caseros.</option>
                            <option value="3">Comidas ligeras y variadas.</option>
                            <option value="4">Comidas tradicionales y familiares.</option>
                            <option value="5">Platos elaborados y llamativos.</option>
                            <option value="6">Comidas saludables y equilibradas.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 3" class="form-label">¿Cómo sueles resolver problemas?</label>
                          <select name="answer3" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Actuando rápidamente y tomando la iniciativa.</option>
                            <option value="2">Tomándote tu tiempo para analizar y buscar soluciones prácticas.</option>
                            <option value="3">Enfocándote en la comunicación y buscando diferentes perspectivas.
                            </option>
                            <option value="4">Siguiendo tu intuición y considerando las emociones de todos los
                              involucrados.
                            </option>
                            <option value="5">Abordando los problemas con confianza y liderazgo.</option>
                            <option value="6">Analizando detalladamente cada aspecto y buscando la perfección.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 4" class="form-label">¿Cuál es tu lugar ideal para vacacionar?</label>
                          <select name="answer4" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Destinos llenos de aventura y acción, como una selva tropical o una ciudad
                              animada.
                            </option>
                            <option value="2">Lugares tranquilos y serenos, como una playa paradisíaca o una cabaña en
                              la montaña.
                            </option>
                            <option value="3">Ciudades vibrantes y cosmopolitas, donde haya una mezcla de cultura y
                              diversidad.
                            </option>
                            <option value="4">Destinos familiares y acogedores, como un lago o una casa de campo.
                            </option>
                            <option value="5">Lugares glamorosos y lujosos, como un resort de lujo o una ciudad conocida
                              por su vida
                              nocturna.</option>
                            <option value="6">Destinos históricos y culturales, donde puedas explorar museos y
                              monumentos.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 5" class="form-label">¿Cuál es tu género musical favorito?</label>
                          <select name="answer5" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Rock o música alternativa.</option>
                            <option value="2">Música clásica o jazz.</option>
                            <option value="3">Pop o música electrónica.</option>
                            <option value="4">Baladas o música romántica.</option>
                            <option value="5">Música pop o de estilo teatral.</option>
                            <option value="6">Música instrumental o folk.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 6" class="form-label">¿Qué tipo de películas disfrutas más?</label>
                          <select name="answer6" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Acción o películas de superhéroes.</option>
                            <option value="2">Películas románticas o dramas.</option>
                            <option value="3">Comedias o películas inteligentes con diálogos ingeniosos.</option>
                            <option value="4">Películas emotivas o familiares.</option>
                            <option value="5">Películas de fantasía o dramas con grandes interpretaciones.</option>
                            <option value="6">Películas basadas en hechos reales o dramas psicológicos.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 7" class="form-label">¿Cuál es tu estilo de moda preferido?</label>
                          <select name="answer7" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Ropa deportiva y casual.</option>
                            <option value="2">Ropa cómoda y elegante.</option>
                            <option value="3">Estilos versátiles y a la moda.</option>
                            <option value="4">Ropa femenina y romántica.</option>
                            <option value="5">Ropa llamativa y extravagante.</option>
                            <option value="6">Ropa clásica y pulcra.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 8" class="form-label">¿Qué cualidad valoras más en una amistad?</label>
                          <select name="answer8" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Lealtad y valentía.</option>
                            <option value="2">Honestidad y confiabilidad.</option>
                            <option value="3">Comunicación y diversión.</option>
                            <option value="4">Empatía y apoyo emocional.</option>
                            <option value="5">Generosidad y admiración.</option>
                            <option value="6">Organización y confiabilidad.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 9" class="form-label">¿Cómo te describirías en una palabra?</label>
                          <select name="answer9" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Apasionado.</option>
                            <option value="2">Persistente.</option>
                            <option value="3">Versátil.</option>
                            <option value="4">Sensible.</option>
                            <option value="5">Carismático.</option>
                            <option value="6">Detallista.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 10" class="form-label">¿Qué actividad te da más energía?</label>
                          <select name="answer10" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Hacer ejercicio físico.</option>
                            <option value="2">Disfrutar de una buena comida.</option>
                            <option value="3">Tener conversaciones estimulantes.</option>
                            <option value="4">Pasar tiempo en casa y cuidar de tu espacio personal.</option>
                            <option value="5">Actuar o estar en el centro de atención.</option>
                            <option value="6">Organizar y limpiar tu entorno.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 11" class="form-label">¿Cuál es tu animal favorito?</label>
                          <select name="answer11" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">León.</option>
                            <option value="2">Toro.</option>
                            <option value="3">Pájaro.</option>
                            <option value="4">Cangrejo.</option>
                            <option value="5">Gato.</option>
                            <option value="6">Mariposa.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 12" class="form-label">¿Qué tipo de libro prefieres leer?</label>
                          <select name="answer12" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Libros de autoayuda o motivación. </option>
                            <option value="2">Novelas románticas o de ficción histórica. </option>
                            <option value="3">Libros de misterio o ciencia ficción. </option>
                            <option value="4">Libros de poesía o novelas sentimentales. </option>
                            <option value="5">Biografías o libros de autores reconocidos. </option>
                            <option value="6">Libros de no ficción o de desarrollo personal. </option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 13" class="form-label">¿Cuál es tu estación del año favorita?</label>
                          <select name="answer13" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Primavera.</option>
                            <option value="2">Verano.</option>
                            <option value="3">Otoño.</option>
                            <option value="4">Invierno.</option>
                            <option value="5">Verano.</option>
                            <option value="6">Otoño.</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 14" class="form-label">¿Cuál es tu color favorito?</label>
                          <select name="answer14" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Rojo</option>
                            <option value="2">Verde</option>
                            <option value="3">Amarillo</option>
                            <option value="4">Blanco</option>
                            <option value="5">Dorado</option>
                            <option value="6">Gris</option>
                          </select>
                        </li>
                        <li class="mb-3">
                          <label id="Question 15" class="form-label">¿Qué te emociona más del futuro?</label>
                          <select name="answer15" class="form-select" required>
                            <option selected disabled value="">Selecciona una opcion</option>
                            <option value="1">Nuevos retos y aventuras.</option>
                            <option value="2">Estabilidad y seguridad.</option>
                            <option value="3">Conocer gente nueva y aprender cosas diferentes.</option>
                            <option value="4">Ver crecer a tu familia y construir un hogar.</option>
                            <option value="5">Reconocimiento y éxito personal.</option>
                            <option value="6">Mejorar y perfeccionar tus habilidades.</option>
                          </select>
                        </li>


                      </ol>
                      <br>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                          Enviar
                        </button>
                      </div>
                    </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </body>

  </html>
  <script src="/js/index.js"></script>