<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signo del Zodiaco</title>
</head>
<body>
  <h1>Signo del Zodiaco</h1>
  <form action="/submit" method="POST">
    <label for="name">Escribe tu nomre:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <h2>Responde las siguientes preguntas por favor</h2>
    <ol>
      <li>
        <h3>¿Cómo describirías tu estilo de comunicación?</h3>
        <label>
          <input type="radio" name="answer1" value="1" required> Eres directo y enérgico.
        </label>
        <label>
          <input type="radio" name="answer1" value="2"> Tranquilo y reflexivo.
        </label>
      </li>
      <li>
        <h3>¿Qué tipo de actividades u hobbies te resultan más atractivos?</h3>
        <label>
          <input type="radio" name="answer2" value="1" required> Te gusta la aventura y la exploración.
        </label>
        <label>
          <input type="radio" name="answer2" value="2"> Actividades más relajadas.
        </label>
      </li>
      <li>
        <h3>¿Cómo manejas el estrés y las situaciones difíciles?</h3>
        <label>
          <input type="radio" name="answer3" value="1" required> Eres impulsivo y reaccionas rápidamente.
        </label>
        <label>
          <input type="radio" name="answer3" value="2"> Tomás tu tiempo para reflexionar y tomar decisiones.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu enfoque en el trabajo o los proyectos?</h3>
        <label>
          <input type="radio" name="answer4" value="1" required> Eres organizado y estructurado.
        </label>
        <label>
          <input type="radio" name="answer4" value="2"> Te gusta tener flexibilidad y adaptarte a medida que avanzas.
        </label>
      </li>
      <li>
        <h3>¿Qué te motiva y te inspira en la vida?</h3>
        <label>
          <input type="radio" name="answer5" value="1" required> Buscas constantemente nuevas experiencias.
        </label>
        <label>
          <input type="radio" name="answer5" value="2"> Te sientes más cómodo con la estabilidad y la rutinas.
        </label>
      </li>
      <li>
        <h3>¿Qué tipo de relaciones personales valoras más?</h3>
        <label>
          <input type="radio" name="answer6" value="1" required> Buscas una conexión profunda y emociona.
        </label>
        <label>
          <input type="radio" name="answer6" value="2"> Prefieres relaciones más ligeras y superficiales.
        </label>
      </li>
      <li>
        <h3>¿Cómo te adaptas a los cambios y a las nuevas situaciones?</h3>
        <label>
          <input type="radio" name="answer7" value="1" required> Eres flexible y te ajustas rápidamente.
        </label>
        <label>
          <input type="radio" name="answer7" value="2"> Necesitas más tiempo para adaptarte.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu enfoque hacia el éxito y el logro de metas?</h3>
        <label>
          <input class = pregunta type="radio" name="answer8" value="1" required> Te enfocas en la competencia y en destacarte.
        </label>
        <label>
          <input type="radio" name="answer8" value="2"> Te importa más el trabajo en equipo.
        </label>
      </li>
      <li>
        <h3>¿Qué papel juega la intuición en tu toma de decisiones?</h3>
        <label>
          <input type="radio" name="answer9" value="1" required> Confías en tus corazonadas.
        </label>
        <label>
          <input type="radio" name="answer9" value="2"> Te basas más en la lógica y el razonamiento.
        </label>
      </li>
      <li>
        <h3>¿Cómo te relacionas con las emociones y los sentimientos?</h3>
        <label>
          <input type="radio" name="answer10" value="1" required> Eres expresivo y te conectas profundamente con tus emociones.
        </label>
        <label>
          <input type="radio" name="answer10" value="2"> Tiendes a ser más reservado y racional.
        </label>
      </li>
      <li>
        <h3>¿En tu trabajo o situaciones cooperativas?</h3>
        <label>
          <input type="radio" name="answer11" value="1" required> Prefieres liderar y tomar decisiones.
        </label>
        <label>
          <input type="radio" name="answer11" value="2">  Te sientes más cómodo siguiendo las instrucciones y siendo parte de un equipo.
        </label>
      </li>
      <li>
        <h3>¿Qué tipo de ambiente te hace sentir más inspirado y productivo?</h3>
        <label>
          <input type="radio" name="answer12" value="1" required> La calma y la tranquilidad.
        </label>
        <label>
          <input type="radio" name="answer12" value="2">  La energía y la estimulación constante.
        </label>
      </li>
      <li>
        <h3>¿Cómo reaccionas ante las situaciones emocionales?</h3>
        <label>
          <input type="radio" name="answer13" value="1" required> Eres compasivo y sensible.
        </label>
        <label>
          <input type="radio" name="answer13" value="2"> Tiendes a ser más objetivo y racional.
        </label>
      </li>
      <li>
        <h3>¿Cuál es tu enfoque hacia la planificación y la organización?</h3>
        <label>
          <input type="radio" name="answer14" value="1" required> Prefieres tener una estructura clara.
        </label>
        <label>
          <input type="radio" name="answer14" value="2"> Te gusta improvisar y adaptarte sobre la marcha.
        </label>
      </li>
      <!-- Add more questions here -->
      <li>
        <h3>¿Cuál es tu enfoque hacia el cambio y la novedad?</h3>
        <label>
          <input type="radio" name="answer15" value="1" required> Te emociona y te adaptas fácilmente.
        </label>
        <label>
          <input type="radio" name="answer15" value="2"> Te resulta difícil y prefieres la estabilidad.
        </label>
      </li>
    </ol>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
