body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
pregunta {
  font-size: 16px; /* Cambia el tamaño de la fuente a 16 píxeles */
  border: 1px solid #000000; /* Añade un borde de 1 píxel de ancho y color negro */
  text-align: center; /* Centra el texto de la pregunta */
}
